body {
    background: linear-gradient(135deg, #667eea 0%, #2d1744 100%);
    min-height: 100vh;
    padding: 20px;
}

.card {
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.95);
    transition: all 0.3s ease;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);
}

.form-control {
    border: 2px solid #e2e8f0;
    transition: all 0.3s ease;
    margin-bottom: .5rem;
}

.form-control:focus {
    border-color: #667eea;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.15);
}

.btn-primary {
    background: linear-gradient(135deg, #4c51bf 0%, #2d1744 100%);
    border: none;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s ease;
    font-size: 19px;
    font-weight: 600;
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(76, 81, 191, 0.3);
}

textarea{
    resize: none;
    overflow:auto
}
label{
    font-weight: 600;
}


/* Footer Styles */
.footer {
    /* background-color: rgba(255, 255, 255, 0.95); */
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #2d1744;
    font-size: 14px;
    padding: 20px 0;
    margin-top: auto; /* Ensures footer sticks to the bottom */
}

.footer a {
    color: #667eea;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #4c51bf;
}

.footer .list-inline-item:not(:last-child) {
    margin-right: 15px;
}